#container{
	margin: 0 auto;
	width: 1300px;
}
.top{
	margin: 0 auto;
	width: 1300px;
	height: 100px;
}
p{
	float: left;
	font-size:42px;
	margin: 0 auto;
	text-align:center;
	line-height:60px;
}
.icon{
	height:60px;
	width: 1300px;
	top:0;
	right:0;
}
.icon p{
	font-size:12px;
	font-family:"微软雅黑";
	float:right;
}
.MUNDUS{
	width:100px;
	height:32px;
	margin: 0 auto;
}
.nav{
	width: 1300px;
	height:70px;
	border:1px solid #111;
	line-height:25px;
}
.first-nav{
	float:left;
	width:150px;
	height:30px;
	margin:8px 8px 8px 8px;
	font-family:"微软雅黑";
	font-size:14px;
	border-radius:5px;
	text-align:center;
}
.second-nav{
	display:none;
	background:#111111;
	line-height:30px;
	font-family:"微软雅黑";
	font-size:14px;
}
.second-nav a:hover{
	text-decoration:underline;
}
.first-nav:hover .second-nav{
	display:block;
}